.intl-tel-input {
  width: 100%;
  margin-bottom: 20px; }

.account-dropdown {
  height: 38px;
  border: 1px solid #ccc;
  background-color: #fff;
  color: #0080d0;
  box-shadow: 0 -1px 0px rgba(0, 0, 0, 0.3); }

.avatar {
  border: 3px solid #5f5f5f; }

.triangle {
  position: relative;
  background-color: #e40000;
  text-align: left; }

.triangle:before,
.triangle:after {
  content: '';
  position: absolute;
  background-color: inherit; }

.triangle,
.triangle:before,
.triangle:after {
  width: 2em;
  height: 2em;
  border-top-right-radius: 20%; }

.triangle {
  float: left;
  position: relative;
  left: 5px;
  top: -40px;
  z-index: 0;
  transform: rotate(-145deg) skewX(-20deg) scale(1, 0.866);
  box-shadow: 0px 0px 5px #bbb; }
  .invalid .triangle {
    background-color: #e79300; }

.errorContainer {
  float: left;
  height: 0;
  top: -61px;
  left: 200%;
  position: relative; }

.error {
  background: #e40000;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0 10px;
  color: #fff;
  box-shadow: 2px 3px 5px #bbb;
  z-index: 1000;
  position: relative; }
  .invalid .error {
    background-color: #e79300; }

.validation {
  float: left;
  position: relative; }

form.accountSettings .ng-dirty.ng-invalid {
  background-color: #faf1e1;
  border-color: orange; }
  form.accountSettings .ng-dirty.ng-invalid.ng-invalid-required {
    background: #FAEBEB;
    border-color: #c33; }
